<!DOCTYPE html>
<html>
  <head>
    <title>Events</title>
    <link rel='stylesheet' href='fullcalendar/dist/fullcalendar.css' />
    <script src="jquery/dist/jquery.min.js"></script>
    <link rel=" stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
    <script src="semantic/dist/semantic.min.js"></script>
    <script src="handlebars/handlebars.min.js"></script>
    <script src='moment/min/moment.min.js'></script>
    <script src='fullcalendar/dist/fullcalendar.js'></script>
    <link rel="stylesheet" type="text/css" href="styles.css">

    <script src="main.js"></script>

  </head>
  <body>

    <div id="calendar"></div>
    
  </body>
</html>