<!DOCTYPE html>
<html>
<head>
  <title>BIKE SAFETY!</title>
</head>
<body>

<h3><a id="user-content-about-dot" class="anchor" href="#about-dot" aria-hidden="true"><span class="octicon octicon-link"></span></a>About DOT</h3>

<p>DOT's mission is to provide for the safe, efficient, and environmentally responsible movement of people and goods in the City of New York and to maintain and enhance the transportation infrastructure crucial to the economic vitality and quality of life of our primary customers, City residents.</p>

<h3><a id="user-content-event-calendar" class="anchor" href="#event-calendar" aria-hidden="true"><span class="octicon octicon-link"></span></a>Event Calendar</h3>

<p>The DOT, in partnership with <a href="http://www.bike.nyc/">Bike New York</a>, <a href="https://www.transalt.org/">TransAlt</a>, and local authorities, provides free bicycle safety classes, workshops, and community events all over New York City.</p>

<a href="/calendar"><h3>LINK to EVENT CALENDAR:</a></h3> Click here to view upcoming events in your borough</p>

<h3><a id="user-content-helmets" class="anchor" href="#helmets" aria-hidden="true"><span class="octicon octicon-link"></span></a>Helmets</h3>

<p>Everyone should wear a helmet while riding. DOT fits and gives away the official New York City bicycle helmet at events throughout the city. Call 311 to schedule a fitting. In order to receive a helmet you must: be present, learn how to properly fit and wear a helmet, and sign a waiver (a parent or legal guardian must sign for children under 18).</p>

<p>LINK to EVENT CALENDAR: Find the next helmet fitting on the Events Calendar</p>

<h3><a id="user-content-dont-be-a-jerk" class="anchor" href="#dont-be-a-jerk" aria-hidden="true"><span class="octicon octicon-link"></span></a>Don’t Be a Jerk</h3>

<p>DOT’s Don’t Be A Jerk bike safety campaign humorously highlights the essential dos and don’ts of safe, responsible biking. According to DOT’s 2010 Sustainable Streets Index, commuter cycling increased 262% in New York City from 2000 to 2010. With more bikes on the road, smart cycling is even more crucial to making New York City’s streets safer for everyone using them.</p>
</blockquote>

<h4><a id="user-content-safety-tips" class="anchor" href="#safety-tips" aria-hidden="true"><span class="octicon octicon-link"></span></a>Safety Tips</h4>

<p>These should be prominent on the page - safety is our primary focus!</p>

<blockquote>
<h3><a id="user-content-safety-tips-1" class="anchor" href="#safety-tips-1" aria-hidden="true"><span class="octicon octicon-link"></span></a>Safety Tips</h3>

<ul>
<li>Ride in a straight line, <strong>obey traffic signs and signals</strong>, and do not weave in and out of traffic. Riding predictably reduces your chances of a crash with a motor vehicle.</li>
<li><strong>Look, signal and look again</strong> before changing lanes or making a turn. Establish eye contact with drivers. Seeing a driver is often not enough. Make sure drivers see you before executing a turn or riding in front of a turning car.</li>
<li><strong>Watch out for car doors.</strong> Be prepared for the possibility that a car door may be opened in your path. When possible, leave room between yourself and parked cars (3 feet is generally recommended) so that you can avoid a door that opens unexpectedly.</li>
<li><strong>Stay visible.</strong> Wear brightly colored clothing for daytime riding. At night, use reflective materials and lights.</li>
<li><strong>Use your bell.</strong> Your bell alerts drivers, pedestrians and other cyclists to your presence, it is required by law.</li>
<li><strong>Don't wear earphones.</strong> By law you may wear one earbud, but keeping your ears clear is a much safer choice.</li>
<li><strong>Wear a helmet.</strong> Helmets are required by law for children age 13 or younger and working cyclists, helmets are a good idea for cyclists of all ages.</li>
</ul>
</blockquote>
</article>
  </div>

</div>


</body>
</html>